---
import { siteInfo } from "@blog/config";
---

<footer class="p-4 text-gray-400">
    <p class="text-sm text-base-content/70 text-center mb-2">
        {siteInfo.siteDesc}
    </p>
    <p
        id="runtime"
        class="text-xs text-base-content/70 text-center cursor-pointer mb-2"
    >
    &copy;  {siteInfo.siteName} fue lanzado: {siteInfo.startTime}
    </p>
    <p class="text-xs text-base-content/70 text-center">
         {new Date().getFullYear()} · <a class="link" href="https://www.github.com/lucfreelance" target="_blank">@</a>lucfreelance · <a class="link" href="https://github.com/npmrun/art-theme" target="_blank"> Art Frame</a> · <a class="link" href="https://astro.build/" target="_blank"> Astro Framework</a>
    </p>
</footer>
