---
import { siteInfo } from "@blog/config";
---

<footer class="p-4 text-gray-400">
    <p class="text-sm text-base-content/70 text-center mb-2">
        {siteInfo.siteDesc}
    </p>
    <p
        id="runtime"
        class="text-xs text-base-content/70 text-center cursor-pointer mb-2"
    >
        Este sitio web fue lanzado el {siteInfo.startTime}
    </p>
    <p class="text-xs text-base-content/70 text-center">
        &copy; {new Date().getFullYear()} –
        <a class="link" href={siteInfo.github} target="_blank">
            {siteInfo.siteName}
        </a>
        · Art frame Astro framework
        <a class="link" href="https://astro.build/" target="_blank"> Astro</a>
    </p>
</footer>
